@model QueryPerformance.Helpers.PaginatedList<QueryPerformance.Models.OneThousandRows>

@{
    var rowsList = Model.Items.ToList();
}

<style>
    
.table-width  { width: 3000px; }  

</style>

<div>
    <!-- Pagination Header -->
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item @(Model.PageIndex  == 1 ? "disabled" : "")">
                <a
                    class="page-link"
                    href="@(
                                Model.HasPreviousPage
                                ? Url.Action("Thousand", new { page = Model.PageIndex - 1 })
                                : "#"
                          )"
                    tabindex="-1"
                >
                    <
                </a>
            </li>

            @if (Model.StartPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Thousand", new { page = Model.StartPage - 1 })">...</a>
                </li>
            }

            @for (int i = Model.StartPage; i <= Model.EndPage; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Thousand", new { page = i })">@i</a>
                </li>
            }

            @if (Model.EndPage < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Thousand", new { page = Model.EndPage + 1 })">...</a>
                </li>
            }

            <li class="page-item @(Model.PageIndex == Model.TotalPages ? "disabled" : "")">
                <a
                    class="page-link"
                    href="@(
                                Model.HasNextPage
                                ? Url.Action("Thousand", new {  page = Model.PageIndex + 1 })
                                : "#"
                          )"
                >
                    >
                </a>
            </li>
        </ul>
    </nav>

    <!-- Table -->
    <div class="table-responsive mb-3 overflow-auto">
        <table class="table table-dark table-striped table-width table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">CPF</th>
                <th scope="col">RG</th>
                <th scope="col">Data Nasc</th>
                <th scope="col">Sexo</th>
                <th scope="col">Signo</th>
                <th scope="col">Mãe</th>
                <th scope="col">Pai</th>
                <th scope="col">Email</th>
                <th scope="col">Senha</th>
                <th scope="col">CEP</th>
                <th scope="col">Endereço</th>
                <th scope="col">Número</th>
                <th scope="col">Bairro</th>
                <th scope="col">Cidade</th>
                <th scope="col">Estado</th>
                <th scope="col">Telefone Fixo</th>
                <th scope="col">Celular</th>
                <th scope="col">Altura</th>
                <th scope="col">Peso</th>
                <th scope="col">Tipo Sanguíneo</th>
                <th scope="col">Cor</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var row in rowsList)
                {
                    <tr>
                        <th scope="row">@row.Id</th>
                        <td>@row.Nome</td>
                        <td>@row.Idade</td>
                        <td>@row.Cpf</td>
                        <td>@row.Rg</td>
                        <td>@row.DataNasc.ToString("dd/MM/yyyy")</td>
                        <td>@row.Sexo</td>
                        <td>@row.Signo</td>
                        <td>@row.Mae</td>
                        <td>@row.Pai</td>
                        <td>@row.Email</td>
                        <td>@row.Senha</td>
                        <td>@row.Cep</td>
                        <td>@row.Endereco</td>
                        <td>@row.Numero</td>
                        <td>@row.Bairro</td>
                        <td>@row.Cidade</td>
                        <td>@row.Estado</td>
                        <td>@row.TelefoneFixo</td>
                        <td>@row.Celular</td>
                        <td>@row.Altura</td>
                        <td>@row.Peso</td>
                        <td>@row.TipoSanguineo</td>
                        <td>@row.Cor</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
