<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <nav class="navbar bg-dark">
            <div class="my-container btn-group">
                <button type="button" class="btn btn-primary">1.000 Rows</button>
                <button type="button" class="btn btn-primary">10.000 Rows</button>
                <button type="button" class="btn btn-primary">100.000 Rows</button>
                <button type="button" class="btn btn-primary">1.000.000 Rows</button>
            </div>
        </nav>
        <div class="container body-content">
            @RenderBody()
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

        <script>
            $(document).ready(
                function() {
                    // When a button is clicked
                    $(".btn-group .btn").click(
                        function() {
                            // Remove "btn-active" class from all buttons
                            $(".btn-group .btn").removeClass("btn-primary-active");

                            // Add "btn-active" class to the clicked button
                            $(this).addClass("btn-primary-active");
                        }
                    )
                }
            )
        </script>
    </body>
</html>
