<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title Rows Challenge</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div>
            <nav class="navbar bg-dark">
                <div class="my-container btn-group">
                    @Html.ActionLink(
                        "1.000 Rows",
                        "Thousand",
                        "Rows",
                        new
                        {
                            id = "thousand",
                            @class = "btn btn-primary"
                        }
                    )

                    @Html.ActionLink(
                        "10.000 Rows",
                        "TenThousand",
                        "Rows",
                        new
                        {
                            id = "ten-thousand",
                            @class = "btn btn-primary"
                        }
                    )

                    @Html.ActionLink(
                        "100.000 Rows",
                        "HundredThousand",
                        "Rows",
                        new
                        {
                            id = "hundred-thousand",
                            @class = "btn btn-primary"
                        }
                    )

                    @Html.ActionLink(
                        "1.000.000 Rows",
                        "Million",
                        "Rows",
                        new
                        {
                            id = "million",
                            @class = "btn btn-primary"
                        }
                    )
                </div>
            </nav>
        </div>
        <div class="container body-content">
            @RenderBody()
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/Scripts/modules")
        @RenderSection("scripts", required: false)

        <script>
            $(document).ready(
                function() {
                        let localStorageHandler = new LocalStorageHandler();

                        $(".btn-group .btn").on("click", function() {
                                $(".btn-group .btn").removeClass("link-clicked");

                                localStorageHandler.setItem("clickedLinkId", $(this).attr('id'));
                            }
                        );
                        
                        let clickedLinkId = localStorageHandler.getItem("clickedLinkId");
                        if (clickedLinkId) {
                            $('#' + clickedLinkId).addClass('link-clicked');
                            localStorageHandler.clearLocalStorage();
                        }
                }
            );
        </script>
    </body>
</html>
